@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.ContainerItemDetail{
    margin: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: x-large;
}

.buttonCarrito{
margin: 20px;
width: 150px;
height:50px;
}